* {
    background-color: #E44D4E;
    font-family: 'Open Sans', sans-serif
}

h1 {
    font-family: 'Gochi Hand', cursive;
    color: #ffffff;
    text-align: center;

}

#burger-logo {
    height: 200px;
    width: auto;
    margin: 0 auto
}